.filmCard {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.firstRow,
.secondRow {
  display: flex;
  margin-bottom: 20px;
}

.firstRow {
  justify-content: space-between;
  align-items: flex-start;
}

.firstColumn,
.secondColumn {
  display: flex;
  flex-direction: column;
}

.filmName {
  display: flex;
  flex-direction: column;
}

.filmDescription {
  min-width: 700px;
  padding: 50px;
}

.firstColumn {
  margin-right: 100px;
}

span, .movieTitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.star {
  cursor: pointer;
}

.button, .movieTitle {
  text-decoration: none;
  color: inherit;
}

