.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  padding-top: 5rem;
}

.loginButton {
  display: flex;
  justify-content: center;
}
